 body {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(138, 138, 138);
 }

 .container {
   margin: 0 1.5rem 1.5rem 1.5rem;
 }

 .back-box {
   background-color: rgb(249, 247, 247);
 }

 .head-top {
   display: flex;
   width: 100%;
   height: 30%;
   background-color: rgb(249, 247, 247);
 }

 .logo {
   width: 60%;
 }

 .contact-info {
   width: 40%;
   text-align: center;
 }

 .call-now {
   color: #7A0202;
   font-size: 28px;
   font-weight: 800;
   margin-top: 20px;
   margin-bottom: 10px;
   display: inline-block;
   border-bottom: 5px solid #4A4A4A;
   padding-bottom: 1px;
   letter-spacing: 1px;
 }

 .phone {
   font-size: 57px;
   font-weight: 800;
   color: #000;
   margin: -20px 0;
 }

 .fast-answers {
   font-size: 20.2px;
   color: #4A4A4A;
   letter-spacing: 0.9px;
   font-weight: 800;
   margin: 0;
   padding: 10px;
 }

 .navbar {
   width: 100%;
   background: #600;
 }

 .navbar ul {
   margin-top: 0px;
   display: flex;
   justify-content: flex-end;
   list-style: none;
   flex-wrap: wrap;
 }

 .navbar a {
   color: #fff;
   padding: 15px 20px;
   display: block;
   text-decoration: none;
 }

 .navbar a:hover {
   background: rgb(105, 103, 103);
 }

 .main {
   width: 95%;
   display: flex;
   margin: 2rem;
 }

 .left-box {
   width: 60%;
   box-shadow: 0px 4px 8px 0px gray;
 }

 .left-box img {
   margin-bottom: 0px;
   padding: 0px;
 }

 .right-box {
   width: 47%;
   background-image: url("form_bg.jpg");
   box-shadow: 0px 4px 8px 0px gray;
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   display: grid;
 }

 .right-text {
   width: 100%;
   display: flex;
   gap: 5%;
   margin: 0px;
   padding: 0px;

 }

 .heading-3 {
   width: 40%;
   color: #fff;
   font-weight: bold;
   font-size: 25px;
   display: block;
   margin: 0px;
   padding: 0px;

 }

 .heading-3 h3 {
   background: rgb(146, 7, 7);
   margin: 0px;
   padding: 10px;

 }

 .para-3 {
   width: 55%;
   font-size: 20px;
   font-weight: bold;
 }

 .para-3 p {
   color: rgba(0, 0, 0, 1);
   margin-bottom: -20px;
   padding-bottom: 0px;
 }

 .para-3 span {
   font-size: 25px;
   color: rgb(8, 8, 78);
   font-weight: bolder;
 }

 .sub-form-p {
   padding-top: 0px;
   margin-top: 0px;
   color: #1a1919;
   font-size: 16px;
   line-height: 25px;
   justify-content: center;
   justify-items: center;
   margin-bottom: -10px;
 }

 .sub-form-p span {
   font-weight: bold;
 }

 form {
   display: grid;
 }

 .form-main {
   margin-top: 0px;
   width: 100%;
   display: flex;
 }

 .form-container {
   width: 60%;
   justify-content: center;
   align-items: center;
   display: grid;
 }

 .form-sub-elements {
   display: flex;
 }

 .form-sub-elements label {
   font-size: 15px;
   margin-left: 25px;
   font-weight: bold;
   color: #1a1919;
 }

 .input {
   width: 50%;
 }

 .lbl {
   width: 32%;
 }

 .right-box form input {
   margin-bottom: 10px;
   padding: 8px;
   border: 1px solid #6e6565;
 }

 .form-img {
   transform: rotate(22deg);
   margin-right: 30px;
   margin-top: 30px;
 }

 form .text-box {
   margin-left: 20px;
 }

 form .text-box textarea {
   width: 85%;
   margin-top: 0px;
   margin-bottom: 10px;
   padding: 20px;
   font-size: 15px;
   color: #222020;
   font-weight: bold;
   border: 1px solid #6e6565;
 }

 .right-box-end {
   display: flex;
   gap: 15px;
 }

 .right-box-end p {
   margin-left: 20px;
   color: #4A4A4A;
   font-style: italic;
   font-size: 13px;
 }

 .btn {
   background: #900;
   color: #fff;
   width: 270px;
   font-size: 18px;
   height: 40px;
   padding: 10px 20px;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 10px;
 }

 .btn img {
   float: right;
 }



 .main-2 {
   width: 100%;
   display: flex;
 }

 .left-section {
   justify-content: center;
   border-right: 1px solid gray;
   width: 33%;
   display: grid;
 }

 .left-1 {
   display: grid;
 }

 .left-head {
   line-height: 2px;
 }

 .left-head h3 {
   font-size: 25px;
   font-weight: bold;
   color: #4A4A4A;
   font-family: 'Times New Roman', Times, serif;
 }

 .left-head span {
   color: #900;
 }

 .left-head p {
   color: #900;
   font-size: 16.5px;
   font-weight: bold;
 }

 .left-content {
   display: flex;
 }

 .left-paragraph {
   font-size: 18px;
   color: #4A4A4A;
   margin-top: -15px;
   font-weight: bold;
 }

 .left-imgs {
   margin-left: 15px;

 }

 .leftsect-img2 {
   margin-left: 60px;
   display: grid;
 }

 .leftsect-img2 img {
   margin-bottom: -10px;
   margin-left: 10px;
 }

 .leftsect-img2 button {
   margin-left: 70px;
   background: #900;
   margin-top: -12px;
   color: #fff;
   width: 150px;
   font-size: 16px;
   height: 40px;
   padding: 8px 8px;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 10px;
 }

 .leftsect-img2 button img {
   float: right;
 }

 .mid-section {
   width: 33%;
   border-right: 1px solid gray;
 }

 .uper-section {

   width: 100%;
   height: 50%;
   border-bottom: 1px solid gray;
   display: flex;
 }

 .up-mid-left {
   justify-items: center;
   width: 50%;
 }

 .up-mid-left h3 {
   margin-top: 10px;
   font-size: 25px;
   font-weight: bold;
   color: #4A4A4A;
   font-family: 'Times New Roman', Times, serif;
 }

 .up-mid-left span {
   color: #900;
 }

 .up-mid-left p {
   margin-top: -20px;
   color: #4A4A4A;
   font-size: 17px;
   margin-left: 20px;
   font-weight: bold;
   margin-bottom: 0px;
 }

 .up-mid-left img {
   margin-top: 0px;
   margin-left: 15px;
   margin-bottom: -15px;
 }

 .up-mid-left button {
   margin-left: 60px;
   margin-top: 0px;
   background: #900;
   color: #fff;
   width: 140px;
   font-size: 16px;
   height: 40px;
   padding: 6px 6px;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 20px;
 }

 .up-mid-left button img {
   float: right;
 }

 .up-mid-right {
   justify-items: center;
   align-content: center;
   margin-top: -15px;
   width: 50%;
 }

 .up-mid-right img {
   margin-left: 25px;
 }

 .lower-section {
   width: 100%;
   height: 50%;
   display: flex;
 }

 .Lo-mid-left {
   width: 70%;
   margin-left: 20px;
 }


 .Lo-mid-left h3 {
   margin-top: 10px;
   font-size: 25px;
   font-weight: bold;
   color: #4A4A4A;
   font-family: 'Times New Roman', Times, serif;
 }

 .Lo-mid-left span {
   color: #900;
 }

 .Lo-mid-left p {
   margin-top: -20px;
   color: #4A4A4A;
   font-size: 17px;
   font-weight: bold;
   margin-bottom: 0px;
 }

 .Lo-mid-btn {
   margin-top: 0px;
 }

 .Lo-mid-left img {
   margin-top: 0px;
   margin-left: 15px;
   margin-bottom: -20px;
 }

 .Lo-mid-left button {
   margin-left: 60px;
   margin-top: 8px;
   background: #900;
   color: #fff;
   width: 140px;
   font-size: 16px;
   height: 40px;
   padding: 6px 6px;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 0px;
 }

 .Lo-mid-left button img {
   float: right;
 }

 .up-mid-right {
   margin-top: -15px;
   width: 50%;
 }

 .Lo-mid-right img {
   margin-top: 10px;
 }


 .right-section {
   width: 33%;
   height: 50%;
 }

 .uper-right {
   display: flex;
   justify-items: center;
 }

 .uper-right img {
   margin-top: 10px;
   width: 30%;
   margin-left: 30px;
 }

 .mid-right {
   margin-left: 25px;
 }

 .mid-right h3 {
   margin-top: 20px;
   font-size: 25px;
   font-weight: bold;
   color: #4A4A4A;
   font-family: 'Times New Roman', Times, serif;
 }

 .mid-right span {
   color: #900;
 }

 .mid-right p {
   margin-top: -20px;
   color: #4A4A4A;
   font-size: 17px;
   font-weight: bold;
   margin-bottom: 0px;
 }

 .lower-right {
   margin-left: 100px;
   margin-top: 10px;
 }

 .lower-right img {
   margin-top: 0px;
   margin-left: 15px;
   margin-bottom: -13px;
 }

 .lower-right button {
   margin-left: 60px;
   margin-top: 0px;
   background: #900;
   color: #fff;
   width: 140px;
   font-size: 16px;
   height: 40px;
   padding: 6px 6px;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 20px;
 }

 .lower-right button img {
   float: right;
 }

 .main2-border {
   border-top: 1px solid gray;
   margin-top: 25px;
 }

 .main2-border img {
   margin-left: 80px;
   margin-top: 0px;
   padding: 0px;
 }


 /*laast section */
 .last {
   display: flex;
 }

 .last-left {
   width: 22%;
   display: grid;
   border-right: 1px solid gray;
   margin-left: 40px;
 }

 .last-left h3 {
   font-size: 25px;
   font-weight: bold;
   color: #4A4A4A;
   font-family: 'Times New Roman', Times, serif;
 }

 .last-left span {
   color: #900;
 }

 .last-btn1 {
   width: 270px;
   border: 1px solid rgb(85, 80, 80);
   background: #7c7979;
   margin-bottom: 30px;
 }

 .left-btns {
   display: flex;
 }

 a {
   text-decoration: none;
 }

 .menu-bar img {}

 .left-btns span {
   font-size: 25px;
   margin-top: 20px;
   font-weight: bold;
   margin-left: 4px;
   color: #fff;
 }

 .left-btns p {
   font-size: 15px;
   font-weight: bold;
   margin-left: 8px;
   margin-top: 46px;
   color: #fff;
 }
.last-btn2 {
   width: 270px;
   border: 1px solid rgb(85, 80, 80);
   background: #7c7979;
   margin-bottom: 30px;
 }
 .btn2-element {
  display: grid;
 }
  .btn2-element span {
    font-size: 25px;
   margin-top: 20px;
   font-weight: bold;
   margin-left: 4px;
   color: #fff;
  }
  .btn2-element  p {
   font-size: 15px;
   font-weight: bold;
   margin-left: 140px;
   margin-top: 0px;
   color: #fff;
 }
 .last-left h2 {
   font-size: 25px;
   font-weight: bold;
   color: #b1a9a9;
   margin-left: 110px;
 }






 .last-mid {
   width: 70%;
   border-right: 1px solid gray;
 }
 .last-mid h1 {
  margin-top: 28px;
   font-size: 25px;
   margin-left: 20px;
   font-weight: bold;
   color: #4A4A4A;
   font-family: 'Times New Roman', Times, serif;
 }
  .last-mid p {
    font-size: 15px;
     color: #4A4A4A;
      margin-left: 20px;
     line-height: 2;
  }










 .last-right {
   width: 23%;
 }